public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*import-in-the-middle*
public-hoist-pattern[]=*require-in-the-middle*
minimum-release-age-exclude[]=@sentry/*
minimum-release-age-exclude[]=@sentry-internal/*
auto-install-peers=false
